@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background-color-tag: hsl(47, 88%, 63%);
  --background-color-card: hsl(0, 0%, 100%);
  --font-color-title: hsl(0, 0%, 7%);
  --font-color-description: hsl(0, 0%, 42%);
  --font-family: 'Figtree', sans-serif;
  --box-shadow-card: 7.5px 5.5px 0 0.5px #000000;
}

html{
  font-size: 16px;
}